header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
  width: 100%;
  height: 90px;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-default);
  z-index: 1;
}

header > a.logo {
  font-family: 'Righteous', cursive;
  font-size: 64px;
}

header > a.logo:hover {
  color: var(--color-default) !important;
}

header img {
  width: 40px;
  height: 40px;
}

header nav:nth-of-type(1) ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav:nth-of-type(1) ul li {
  padding: 0 12px;
}

header > button {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 1;
}

header > button span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 34px;
  height: 2px;
  background-color: var(--color-default);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

header > button span:first-child {
  -webkit-transform: translate(-50%, -50%) translateY(-10px);
          transform: translate(-50%, -50%) translateY(-10px);
}

header > button span:nth-child(2) {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header > button span:last-child {
  -webkit-transform: translate(-50%, -50%) translateY(10px);
          transform: translate(-50%, -50%) translateY(10px);
}

header > button.isMenu span:first-child {
  -webkit-transform: translate(-50%, 0) rotate(45deg);
          transform: translate(-50%, 0) rotate(45deg);
}

header > button.isMenu span:nth-child(2) {
  display: none;
}

header > button.isMenu span:last-child {
  -webkit-transform: translate(-50%, 0) rotate(-45deg);
          transform: translate(-50%, 0) rotate(-45deg);
}

header nav:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  font-size: 24px;
}

header nav:nth-of-type(2) ul {
  text-align: center;
}

header nav:nth-of-type(2) ul li {
  padding: 10px 0;
}

header nav:nth-of-type(2).isMenu {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@media screen and (max-width: 1024px) {
  header {
    padding: 0 20px;
  }
  header img {
    display: none;
  }
  header button {
    display: block;
  }
  header nav:nth-of-type(1) {
    display: none;
  }
}

section.kv {
  position: relative;
  height: calc(100vh - 90px);
  background-image: url(../static/kv.jpg);
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 1px solid var(--color-default);
}

section.kv .container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

section.kv .container h1,
section.kv .container h2 {
  position: absolute;
  left: 30px;
  white-space: nowrap;
}

section.kv .container h1 {
  top: 20px;
  color: var(--color-orange);
}

section.kv .container h2 {
  top: 120px;
}

section.kv .container .contents {
  position: absolute;
  top: 0;
  height: 90%;
}

@media screen and (max-width: 1024px) {
  section.kv .container .contents {
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
  }
  section.kv .container .contents h1,
  section.kv .container .contents h2 {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  section.kv .container .contents h1 {
    top: 5px;
  }
  section.kv .container .contents h2 {
    top: 120px;
  }
}

@media screen and (max-width: 760px) {
  section.kv {
    background-image: none;
  }
  section.kv .container .contents img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}

section.contents:nth-of-type(odd) .container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

section.contents .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px auto 140px auto;
}

section.contents .container .text,
section.contents .container .img,
section.contents .container .button {
  width: calc((100% - 60px) / 2);
}

section.contents .container .text {
  text-align: justify;
}

section.contents .container .text p {
  margin-top: 24px;
}

section.contents .container .text p:nth-of-type(1) {
  margin-top: 36px;
}

section.contents .container .text ul {
  margin-top: 6px;
  padding-left: 21px;
  list-style: decimal;
}

section.contents .container .img {
  max-height: 322px;
}

section.contents .container .button {
  margin-top: 40px;
  text-align: center;
}

section.contents .container .button a {
  display: inline-block;
  max-width: 350px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border: 1px solid var(--color-default);
  background-color: var(--color-white);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

section.contents .container .button a:hover {
  border: 1px solid var(--color-orange);
}

@media screen and (max-width: 1024px) {
  section.contents .container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  section.contents .container .text,
  section.contents .container .img,
  section.contents .container .button {
    width: 100%;
  }
  section.contents .container .img {
    margin-top: 40px;
    height: 322px;
  }
  section.contents .container .button {
    margin-top: 60px;
  }
  section.contents .container .button a {
    max-width: 100%;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  padding: 12px 12px 0;
}

table th {
  padding: 12px 0;
  width: 20%;
  white-space: nowrap;
}

table ul li {
  margin-top: 10px;
}

table ul li:first-child {
  margin-top: 0;
}

table ul li a {
  color: var(--color-dark-gray);
}

section.main .container,
section.info .container,
section.recruit-info .container {
  padding: 50px 20px 20px;
}

section.main {
  text-align: center;
}

section.main .container h2 {
  margin-top: 20px;
}

section.main .container h2 .emphasis {
  font-weight: 600;
}

section.main .container p:nth-child(2) {
  font-weight: 600;
}

section.main .container p:nth-child(n + 2) {
  margin-top: 30px;
}

section.main .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 64px;
}

section.main .container ul li {
  margin-right: 32px;
}

section.main .container ul li:nth-child(2) img {
  width: 48px;
}

section.main .container ul li:last-child {
  margin-right: 0;
}

section.main .container ul li img {
  width: 40px;
}

@media screen and (max-width: 1024px) {
  section.main .container h2 {
    font-size: 26px;
  }
}

section.info .container {
  max-width: 1000px;
}

section.info .container .img {
  height: 350px;
}

section.info .container p {
  margin-top: 8px;
  text-align: center;
}

section.info .container p:first-child {
  font-size: 24px;
}

section.info .container .img {
  margin-top: 8px;
}

section.info .container ul {
  margin-top: 8px;
}

section.info .container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid var(--color-gray);
}

section.info .container ul li .icon {
  margin-right: 30px;
  width: 40px;
  height: 40px;
}

section.info .container ul:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.info .container ul:last-child li {
  margin-right: 30px;
  border: none;
}

section.info .container ul:last-child li:nth-child(-n + 2) {
  color: var(--color-gray);
}

section.info .container ul:last-child li .icon {
  margin-right: 10px;
}

section.recruit-info .container table,
section.recruit-info .container th,
section.recruit-info .container td {
  border: 1px solid var(--color-gray);
}

section.recruit-info .container table:nth-of-type(2) {
  margin-top: 70px;
  margin-bottom: 70px;
}

section.recruit-info .container tr:first-child td {
  padding: 30px 30px;
  font-size: 24px;
}

section.recruit-info .container th,
section.recruit-info .container td {
  padding: 12px 30px;
}

section.recruit-info .container th {
  min-width: 120px;
  background-color: var(--color-beige);
}

@media screen and (max-width: 760px) {
  section.recruit-info .container th,
  section.recruit-info .container td {
    padding: 12px 10px;
    font-size: 14px;
  }
  section.recruit-info .container tr:first-child td {
    padding: 30px 10px;
    font-size: 18px;
  }
}

#footer-inner {
  height: 60px;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-orange);
}

#footer-inner small {
  line-height: 60px;
}

section.history .container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 90px;
}

section.history .container ul li:first-child {
  margin-top: 0;
}

section.history .container ul li:nth-of-type(2) p {
  font-size: 24px;
}

section.history .container ul li .img {
  width: 30%;
  height: 100%;
}

section.history .container ul li .text {
  padding: 10px 40px;
  width: 70%;
}

section.history .container ul li .text a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 8px;
  color: var(--color-dark-gray);
}

section.history .container ul li .text a .icon {
  margin-right: 8px;
  width: 18px;
}

section.history .container ul li .text p {
  margin-top: 24px;
}

section.history .container ul li .text p:first-child {
  margin-top: 0;
  font-size: 24px;
}

@media screen and (max-width: 1024px) {
  section.history .container ul li:nth-of-type(2) p {
    font-size: 20px;
  }
  section.history .container ul li .text a {
    font-size: 12px;
  }
  section.history .container ul li .text a .icon {
    width: 14px !important;
  }
  section.history .container ul li .text p:first-child {
    font-size: 20px;
  }
}

@media screen and (max-width: 760px) {
  section.history .container ul li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.history .container ul li .img,
  section.history .container ul li .text {
    width: 100%;
  }
  section.history .container ul li .text {
    padding: 40px 0;
  }
}
/*# sourceMappingURL=style.css.map */